/*stylesheet.css*/

div {
	width: 15em;
	border: black solid 2px;
	display: block;
	margin: 3em;
	text-align: center;
}

.inner {
	width: 7em;
	text-align: left;
	margin-left: 4.5em;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: left;
	border: transparent;
}

.top{
	background-color: blue;
	color:  red;
	width: 38em;
	height: 1em;
	margin-right: 8em;
	margin-left: 8em;
	margin-bottom: 2px;
	margin-top: 2px;
}
#center {
	width: 38em;
	background-color: #cfcfcf;
	margin-right: 8em;
	margin-left: 8em;
	margin-top: 2px;
	margin-bottom: 2px;
}

.box1 {
	/*height: 112px;*/
	background-color: #c2fc9c;
	float: left;
	margin-left: 5px;
	margin-top: 2px;
	margin-bottom: 2px;
}

.box2{
	background-color: #c2fc9c;
	color: red;
	/*float: left;*/
	margin-right: 5px;
	margin-top: 2px;
	margin-bottom: 2px;
	text-align:center;
}
#submission{
	height:20px;
	width: 55px;
	background-color: red;
	border-radius: 8px;
	margin-left: 410px;
	margin-top: 2px;
	}

#errors{
	border-color: white;
	margin-left: 320px;
}

#num{
	display: none;
}